{
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "bracket-same-line": false,
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrder": [
        "zustand",
        "react",
        "react-dom",
        "react-router-dom",
        "^react-icons/(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^@components/(.*)$",
        "^@pages/(.*)$",
        "^@widgets/(.*)$",
        "^@ui/(.*)$",
        "^@backend/(.*)$",
        "^@app/(.*)$",
        "^@css/(.*)$"
    ]
}
